.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #45accf;
    padding: 10px 20px;
}

.nav-left {
    display: flex;
    margin-left: 20px;
}

.nav-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-center button {
    height: 40px;
    width: 150px;
    margin: 0 80px; /* Increased margin to space out buttons */
}

.nav-center a {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.name {
    margin-left: 10px;
    font-size: 30px;
    color: #23214c;
    font-weight: bolder;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd; /* Hover effect for dropdown items */
}

.dropdown:hover .dropdown-content {
    display: block;
}